$mobile-threshold = 1000px
$container-width = 990px

$font-size-default = 12pt
$font-size-small = 9pt

$foreground-color = #000
$background-color = #FFD
$backaccent-color = #EEF
$backborder-color = #DDF
$border-color = #898
