@require "_common"


@media screen and (min-width: $mobile-threshold)
    #container
        width: $container-width
        margin: 0px auto

    #main
        display: flex
        flex-direction: row
        flex-flow: row-reverse

    #contents
        flex: 1
        overflow: hidden

    #sidebar
        width: 180px
