@require "_common"


h1
    font-size: ($font-size-default * 2)

h2
    font-size: ($font-size-default * 1.5)

h3
    font-size: floor($font-size-default * 1.2)

h1, h2, h3, h4, h5, h6
    margin: $font-size-default 0px ($font-size-default / 2) 0px
    font-family: sans-serif
    font-weight: bold
h1
    margin-bottom: 0px
h1 + nav
    margin-bottom: $font-size-default
h1 + #contents
    margin-top: $font-size-default

h1.titleimg
    text-align: center
    img
        max-width: 80%
        @media screen and (max-width: ($mobile-threshold - 1px))
            max-width: 100%

h1, h2, h3, h4, h5, h6, hr
    clear: both


paragraphs = p ul ol dl
for e1 in paragraphs
    {e1}
        margin: 0px
    for e2 in paragraphs
        {e1} + {e2}
            margin-top: $font-size-default

dl
    display: block
    padding: 0px

    dt
        font-family: sans-serif
        font-weight: bold
        font-size: inherit
    dt:after
        content: ":"
        margin-right: ($font-size-default / 2)
    > dt
        display: block
        float: left
        clear: left

    dd
        font-size: inherit
    > dd
        display: block
        margin-left: ($font-size-default * 2)

    dt, dd
        min-height: $font-size-default * 1.5
        line-height: $font-size-default * 1.5

.sitetop
    h2
        margin-bottom: 0px
    nav > dl
        display: inline-block
        text-align: left
        margin-bottom: $font-size-default
        > div
            margin: 0px auto
        > div > dt, > div > dd
            display: inline
            margin-left: 0px


.float-right
    float: right
img.float-right
    margin: $font-size-default 0px $font-size-default $font-size-default
img.float-right:first-child
    margin-top: 0px

.float-left
    float: left
img.float-left
    margin: $font-size-default $font-size-default $font-size-default 0px
img.float-left:first-child
    margin-top: 0px

.center
    display: block
    margin-left: auto
    margin-right: auto
