<div class="sidebar__item">
    <ul class="validators">
        <li>
            <a class="validatoricon__css" href="https://jigsaw.w3.org/css-validator/check/referer"><span>Valid CSS!</span></a>
        </li>
    </ul>
</div>
